{% extends 'blogapp/base.html' %}

{% block body %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="thumbnail">
        <img class="img img-responsive img img-thumbnail" src="{{ post.image.url }}" alt="" style="height: 350px; width: 280px;">
        <div class="caption">
            <h4>{{ post.title }}</h4>
            <h5> <strong>Author: </strong><small style="color: darkcyan; font-size: 14px;"> {{ post.user }} </small></h5>
        </div>
            </div>
    </div>

        <div class="col-sm-8">
            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li class="active"><a href="">Read</a> </li>
                <li class=""> <a href="" data-toggle="modal" data-target="#myModal">comment</a> </li>
            </ul>

            <div class="panel panel-primary">
                <div class="panel-body">
                    <h4 class=""><b>{{ post.title }}</b> {% if request.user == post.user %}
                    <a href="{% url 'blogapp:update' post.pk %}" class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;
                    </a>
                    <a href="{% url 'blogapp:delete' post.pk %}" class="btn btn-danger btn-sm">
                    <span class="glyphicon glyphicon-trash"></span>&nbsp;
                    </a>
                 {% endif %}
                        <small style="float: right;">{{ post.created|date:"F d, Y" }}</small></h4>

                    <hr>
                    <P>{{ post.content }}</P>
                </div>

            </div>
            <div>
                <h5 class="text-primary"><b>Comments: &nbsp;{{ post.comment_set.count }}</b></h5>
            </div>
        {% if post.comment_set %}
            {% for comm in post.comment_set.all %}
            <p>{{ comm.comment }} <small style="float: right; color: darkcyan;">~{{ comm.user }}</small> </p>
                <hr>
            {% endfor %}
        {% endif %}

        </div>
    </div>


    <!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
<div class="modal-dialog modal-md">

<!-- Modal content-->
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-primary" style="padding-left: 21px;">Comment</h4>
    </div>
    <div class="modal-body">
    <form method="POST" action="{% url 'blogapp:comment' post.id %}" enctype="multipart/form-data">
    {% csrf_token %}
        {% include 'blogapp/form_template.html' %}
    <div class="form-group" style="padding-left: 107px;">
        <button type="submit" class="btn btn-info">Submit</button>
    </div>
    </form>
    </div>
    </div>
</div>
</div>
</div>


{% endblock %}