{% extends 'blogapp/base.html' %}
{% load static %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        {% if posts %}
            {% for post in posts %}
                <div class="col-sm-3 text-center">
                <a href="{% url 'blogapp:detail' post.id %}">
                <img class="img img-responsive img img-thumbnail" src="{{ post.image.url }}" alt="" style="height: 350px; width: 300px;">
                </a>
                <div class="img-text">
                    {{ post.title }}  <br>{{ post.created|date:"F d, Y" }}
                </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}